.navbar {
    display: center;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem 1rem;
    background-color: #1e1e1e;
    color: #ffffff;
  }
  
  .navbar-left, .navbar-right {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    
  }

  .navbar-logo {
    font-size: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .navbar-logo span {
    margin-left: 10px;
    font-family: 'Courier New', monospace;

  }
  
  .navbar-link {
    color: #ffffff;
    text-decoration: none;
    margin-right: 1rem;
    font-size: 16px;
    transition: color 0.3s ease;
    background-color: #2c2c2c;
    padding: 11px;
  }

  .navbar-link span {
    padding: 9px;
  }
  
  .navbar-link:hover {
    color: #4a90e2;
  }
  
  .navbar-button {
    background-color: #2c2c2c;
    color: #ffffff;
    border: none;
    padding: 12px;
    border-radius: 0px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
  }
  
  .navbar-button:hover {
    background-color: #357abd;
  }

  .navbar-link .fa-user {
    margin-right: 5px;
  }
  
  